@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark , lofi;
  }

@theme {
    --font-rubik: 'Rubik', 'sans-serif';
}

.wrapper {
  width: 100%;
  @media (width <= 40rem ) {
        width: 90%;
  }
  @media (width > 40rem /* 640px */) {
      max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
      max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
      max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
      max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
      max-width: 96rem /* 1536px */;
  }
}